.card {
  height: 130px;
  background: #6CADDC;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.card:hover {
	transform: scale(1.06);
}

.card > .img-container {
  padding: 10px;
  height: 120px;
  overflow: hidden;
  text-align: center;
  
}
.card > .img-container > img {
  width: 60%;
}
